six
numpy
Flask
tweepy
safeIO
psutil
Pillow
pattern
discord
lifeeasy
requests
pyOpenSSL
ImageHash
discord.py
filecenter
Flask_Cors
saucenao_api
line_bot_sdk
Flask-Sockets
opencv_python
beautifulsoup4
flask-compress
flask_talisman