#console {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
#consoleHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

body {
    font-family: Inter, sans-serif;
}
h1 {
    text-align: center;
    padding-bottom: 40px;
    margin: 15px;
}
#consoleOutput {
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: scroll;
}
output {
    display: flex;
    padding: 5px;
}
outputdata {
    padding-left: 5px;
}
timestamp {
    padding-right: 5px;
    color: grey;
    transform: scale(0.8);
}
label, input {
    position: relative;
    display: block;
    padding-right: 0px;
    width: 99%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

label::after {
    content: attr(data-domain);
    position: absolute;
    top: 7px;
    left: 5px;
    font-family: consolas, inter, helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}
#consoleInput {
    margin-top: 25px
}
input {
    padding-left: 110px;
}