@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* TAG CONTAINERS
Credit: FrontendTips on YouTube (https://youtu.be/ha4xwcJXwow)
*/

.container {
    width: 40%;
    margin: 30px auto;
}
.tag-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #0000001c;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 6px;
    overflow: scroll;
    height: 80px;
    width: 90%;
    margin-left: 10%;
}
.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    display: flex;
    align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 100ms ease
}

.tag:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tag i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}
.tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    color: rgb(255, 255, 255);
    flex: 1;
    background: #0000001f;
    border-radius: 5px;
}

.material-icons {
    background-color: #bbcff0;
    font-size: 13px;
    border-radius: 100%;
    padding: 2px 2px;
    margin-left: 5px;
    transition: all 100ms ease;
    cursor: pointer;
}

.material-icons:hover {
    background-color: #abbddb;
}



.erinaStatsList {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
    position: relative;
}

.erinaConfig-ListItem {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 80px;
    background: rgb(177 177 175 / 40%);
    border-radius: 5px;
}

config-container-title {
    font-size: 2em;
    font-weight: 500;
}

erinaconfig-list-item-title {
    font-size: 1.5em;
    top: 30%;
    position: relative;
    left: 5%;
}

erinaconfig-list-item-value-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 80px;
    width: 15%;
    margin-top: 10px;
}

.tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-radius: 2.5px;
    padding: 5px 6px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
    transition: all 300ms ease;
}

.tag:hover {
    background-color: #c4dae9;
}

.tagCross {
    background-color: #bbcff0;
    font-size: 13px;
    border-radius: 100%;
    padding: 1.5px 5px;
    margin-left: 5px;
    transition: all 100ms ease;
}

.tagCross:hover {
    background-color: #abbddb;
}


/* TOGGLE BUTTON
Copyright (c) 2020 by Aaron Iker (https://codepen.io/aaroniker/pen/qBdZEjQ)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.neumorphism-toggle {
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
            transform: scale(var(--scale, 1)) translateZ(0);
}
.neumorphism-toggle:active {
    --scale: .96;
}
.neumorphism-toggle input {
    display: none;
}
.neumorphism-toggle input + label {
    background: #fff;
    border-radius: 9px;
    padding: 16px 0 16px 20px;
    min-width: 208px;
    display: block;
    cursor: pointer;
    position: relative;
    /*
    box-shadow: -12px -12px 24px var(--light-shadow, transparent), 12px 12px 24px var(--shadow, transparent);
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s;
    */
}
.neumorphism-toggle input + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.neumorphism-toggle input + label .switch {
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    height: 22px;
    width: 40px;
    border-radius: 11px;
    background: #ECEFFC;
}
.neumorphism-toggle input + label .switch:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: --webkit-gradient(linear, left top, right top, from(#4F97FF), to(#275EFE));
    background: linear-gradient(90deg, #4F97FF, #275EFE);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.neumorphism-toggle input + label .switch .dot {
    background: #D1D6EE;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(var(--offset, 0));
            transform: translateX(var(--offset, 0));
    -webkit-transition: box-shadow .4s, -webkit-transform .4s;
    transition: box-shadow .4s, -webkit-transform .4s;
    transition: transform .4s, box-shadow .4s;
    transition: transform .4s, box-shadow .4s, -webkit-transform .4s;
    box-shadow: -4px -4px 8px var(--light-shadow-2, transparent), 4px 4px 8px var(--shadow, transparent);
}
.neumorphism-toggle input + label .switch .dot:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.neumorphism-toggle input + label span {
    line-height: 22px;
    font-size: 16px;
    color: var(--text, #646B8C);
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    position: relative;
    margin-left: 12px;
    -webkit-transition: color .4s;
    transition: color .4s;
}


.neumorphism-toggle input:checked + label {

/*.toggleChecked {*/
    --offset: 18px;
    --text: #404660;
    --gradient: 1;
    --shadow: rgba(0, 6, 39, .1);
    --light-shadow: rgba(255, 255, 255, .8);
    --light-shadow-2: rgba(255, 255, 255, .1);
}







/* EXPANDABLE
Copyright (c) 2020 by Natalia (https://codepen.io/natali_k/pen/XPLjGm)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/


.expandableItem {
    margin: 50px 0 0;
    font-family: Poppins, sans-serif;
}

.expandableItem * {
    box-sizing: border-box;
}

.expandableItem-tab {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px;
    border-radius: 4px;
    background-color: rgb(183 183 183 / 20%);
    box-shadow: 0 0 0 1px #ececec;
    opacity: 1;
    transition: box-shadow 0.2s, opacity 0.4s;
    overflow: hidden;
}

.expandableItem-tab:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.expandableItem-input {
    display: none;
}

.expandableItem-input:checked ~ .expandableItem-content + .expandableItem-tab-content {
    max-height: 3000px;
    font-size: 1em;
}

.expandableItem-input:checked ~ .expandableItem-content:after {
    transform: rotate(0);
}

.expandableItem-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    /*font-size: 0;*/
    z-index: 1;
    cursor: pointer;
}

.expandableItem-label:hover ~ .expandableItem-content:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
}

.expandableItem-content {
    position: relative;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0 87px 0 30px;
    /*font-size: 0;*/
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.expandableItem-content:after,
.expandableItem-content:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.expandableItem-content:before {
    height: 100%;
}

.expandableItem-content:after {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 30px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.expandableItem-name {
    display: inline-block;
    width: 75%;
    margin-left: 16px;
    font-weight: 550;
    color: #242a32;
    white-space: normal;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    line-height: 22px;
}

.expandableItem-content + .expandableItem-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.expandableItem-content > div {
    display: inline-block;
    vertical-align: middle;
}

.expandableItem-info {
    width: 60%;
    white-space: nowrap;
    /*font-size: 0;*/
}

.expandableItem-info:before {
    content: "";
    display: inline-block;
    height: 44px;
    vertical-align: middle;
}

.expandableItem-tab-content {
    background-color: rgb(183 183 183 / 40%);
    /*font-size: 0;*/
    text-align: justify;
}

.sentiment-wrapper {
    padding: 24px 30px 30px;
}

.sentiment-wrapper > div {
    display: inline-block;
    width: 33.3%;
    max-width: 390px;
    padding: 0 5px;
    box-sizing: border-box;
    vertical-align: top;
    cursor: default;
}

.sentiment-wrapper > div > div {
    width: 100%;
    padding: 16px 24px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    text-align: left;
}

.opinion-header {
    position: relative;
    width: 100%;
    margin: 0 0 24px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #242a32;
    text-transform: capitalize;
}

.opinion-header > span:nth-child(2) {
    position: absolute;
    right: 0;
}

.opinion-header + div > span {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #363636;
}

@media screen and (max-width: 800px) {
    .expandableItem-label {
    max-height: 102px;
    }

    .expandableItem-content {
    height: auto;
    padding: 10px 87px 10px 30px;
    }

    .expandableItem-content:before {
    display: none;
    }

    .expandableItem-content:after {
    top: 0;
    }

    .expandableItem-content > div {
    display: block;
    width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .sentiment-wrapper > div {
    display: block;
    width: 100%;
    max-width: 100%;
    }

    .sentiment-wrapper > div:not(:first-child) {
    margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .expandableItem-label {
    max-height: 140px;
    }
}





/* INPUT
Copyright (c) 2020 by Lucas Oliveira (https://codepen.io/lucasyem/pen/ZEEYKdj)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.textInput {
    font-family: inherit;
    font-weight: 700;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 500ms ease;
    top: 24%;
    position: relative;
    margin-left: 40%;
}

.textInput:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}




.textValueContainer {
    width: 250px;
    margin-left: -90px;
    margin-top: 10px;
}
