.pageTitle {
    left: 40%;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 100px;
}
/*************************************************************************/

/************************
    Overview — ErinaStats 
*************************/

.erinastats {
    position: relative;
    display: flex;
    left: 17%;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.statCard {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    align-content: center;
    background: rgba(255, 244, 208, 0.2);
    border-radius: 15px;
    padding: 30px 10px;
    box-shadow: 1px 0px 10px 1px #ececec;
}

.statLabel {
    font-size: 1.5em;
}

.statValue {
    margin: 0;
    margin-top: 10px;
    font-size: 3em;
}

.erinaChart {
    height: 80px;
    width: 220px;
}
/*************************************************************************/

/************************
    Overview — ErinaWidgets 
*************************/

.erinaWidgets {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    flex-flow: wrap row;
    justify-content: flex-end;
    transform: translate(-4%);
}

.erinaWidget {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    align-content: center;
    background: rgba(255, 244, 208, 0.2);
    border-radius: 15px;
    padding: 30px 10px;
    box-shadow: 1px 0px 10px 1px #ececec;
    width: 15%;
    height: 50px;
}

.erinaWidget-title {
    left: 20px;
    position: absolute;
    top: 20px;
    color: #5a5a5a;
}

.erinaWidget-value-number {
    font-size: 2em;
    margin-top: 15px;
}

.erinaWidget-value-text {
    font-size: 1.5em;
    margin-top: 15px;
}

/*************************************************************************/

/************************
    Overview — ErinaWidgets 
*************************/

.erinaTraceback {
    display: flex;
    margin-bottom: 60px;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: 2%;
}

.erinaLogs {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px 15px;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background: rgba(255, 244, 208, 0.2);
    box-shadow: 1px 0px 10px 1px #ececec;
    height: 250px;
    width: 35%;
}

#erinalogs-title {
    left: 20px;
    position: absolute;
    top: 20px;
    color: #808080d9;
}

#erinalogs-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
}

erinaLog {
    margin: 5px 0px;
    width: 100%;
    left: 15px;
    position: relative;
}

erinalog-timestamp {
    color: gray;
    margin-right: 10px;
    font-size: 0.8em;
}

erinalog-message {
    font-weight: 500;
    font-size: 1.05em;
}

.erinaLogType-error::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    content: '\f071';
    color: #ff5400;
}

.erinaFeedbacks {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px 15px;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background: rgba(255, 244, 208, 0.2);
    box-shadow: 1px 0px 10px 1px #ececec;
    height: 250px;
    width: 35%;
}

.erinaFeedbacks-title {
    left: 20px;
    position: absolute;
    top: 20px;
    color: #808080d9;
}


#erinafeedbacks-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
}

twitter-response {
    margin: 5px 0px;
    width: 100%;
    left: 15px;
    position: relative;
}

twitter-response-timestamp {
    color: gray;
    margin-right: 10px;
    font-size: 0.8em;
}

twitter-response-user {
    color: black;
    font-size: 1.05em;
    margin-right: 5px;
    font-weight: 550;
}

twitter-response-user::before {
    content: "@"
}

twitter-response-message {
    font-weight: 500;
    font-size: 1em;
    color: rgb(25, 25, 25);
}

twitter-response-sentiment {
    color: grey;
    margin-left: 5px;
}

twitter-response-sentiment::before {
    content: "("
}

twitter-response-sentiment::after {
    content: ")"
}

@media screen and (max-width: 800px) {
    .erinastats {
        flex-flow: wrap column;
        left: 0;
    }
    .erinaChart {
        width: 100%;
        margin-top: -10px;
        height: 100px;
        margin-bottom: -20px;
    }
    .erinaWidget {
        margin-left: 20px;
        margin-right: 20px;
        width: 35%;
    }
    .erinaTraceback {
        flex-flow: column wrap;
    }
    .erinaLogs, .erinaFeedbacks {
        height: 190px;
        width: 70%;
    }
    .pageTitle {
        left: 30%;
    }
}